     <div>
        <div  class = "bg">
           

        </div> 
        <div class="row">
            <div class="col-md-6" style="margin-top:10%;">

                <div class="card">
                    <div class="text-center">
                        <h1>Login</h1>
                        <h6>Please enter your email & password!!</h6>
                    </div>
                
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                          <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" > *Email ID is required!</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" required>
                          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" > *Please enter your password</span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mb-1" [disabled]="!loginForm.valid" >Login</button>
                    </form>  
                        <a style="color: #fff; margin-top:10px;" routerLink="/signup"> Click here to Sign Up</a>
                </div>
            </div>
        </div>
    </div>