<div >
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself</h6>
                </div>
                
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')" > *Please enter your name!</span>
                          </div>
                          
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile No.</label>
                            <input formControlName="mobile" type="tel" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')" > *Please enter a Contact number!</span>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" > *Email ID is required!</span>
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" > *Password cannot be empty!</span>
                        </div>               
                        <button type="submit" class="btn btn-primary mb-1"[disabled]="!signupForm.valid">Sign Up</button>
                      </form>  
                      <a style="color: white; margin-top:10px;" routerLink="/login"> Already registered? Click here to Login</a>
                     
            </div>
        </div>
    </div>
</div>